.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 243, 243);
  padding-top: 20px;
  padding-bottom: 20px;
}

.team-text {
  font-family: "Roboto";
  color: rgb(63, 63, 222);
  font-size: 14px;
  text-align: center;
}

.team-section-heading {
  font-family: "Roboto";
}

.team-section-description {
  color: grey;
  font-family: "Roboto";
  font-size: 15px;
  text-align: center;
}

.team-img {
  height: 300px;
  width: 300px;
}

.team-head-role {
  color: gray;
  font-family: "Roboto";
}

.line {
  border-width: 3px;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
  width: 40px;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

@media screen and (max-width: 768px) {
  .team-img {
    height: 200px;
    width: 200px;
  }
}
