*{
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.bg {
  min-height: 100vh;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
